.root {
	-fx-font-family: "Press Start 2P";
	-fx-text-fill: white;
}

.label {
 	-fx-font-family: "Press Start 2P";
 	-fx-text-fill: white;
 	-fx-font-size: 15px;
}

.title-label {
	-fx-font-size: 45px;
	-fx-text-fill: white;
}

.button {
	-fx-font-family: "Press Start 2P";
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-cursor: hand;
}

.button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 15, 0.5, 0, 0);
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.button:pressed {
	-fx-scale-x: 0.95;
	-fx-scale-y: 0.95;
	-fx-translate-y: 5px;
	-fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}

.choice-button {
	-fx-font-family: "Press Start 2P";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-background-color: #3e3e3e;
	-fx-border-color: white;
	-fx-border-width: 2px;
	-fx-padding: 10 20;
	-fx-cursor: hand;
}

.choice-button:hover {
	-fx-background-color: #5e5e5e;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

.character-button {
	-fx-background-color: transparent;
	-fx-padding: 10;
	-fx-cursor: hand;
}

.character-button:hover .image-view {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 15, 0.5, 0, 0);
}

.character-button:pressed .image-view {
	-fx-scale-x: 0.95;
	-fx-scale-y: 0.95;
}

/* Animation für das Einblenden */
.fade-in {
    -fx-opacity: 0;
    -fx-animation: fadeInAnim 0.5s forwards;
}

@keyframes fadeInAnim {
    from { -fx-opacity: 0; }
    to { -fx-opacity: 1; }
}

/* Animation für das Ausblenden */
.fade-out {
    -fx-opacity: 1;
    -fx-animation: fadeOutAnim 0.5s forwards;
}

@keyframes fadeOutAnim {
    from { -fx-opacity: 1; }
    to { -fx-opacity: 0; }
}
